* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.banner {
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.banner-content {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds shadow to make text readable */
}

.banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.banner p {
    font-size: 1.2rem;
}