body div {
    border: 2px solid blue;
    display: flex;
    width: 400px;
    padding: 1em;
}

div .flex-item {
    border: 2px solid #000;
    background: #eee;
    padding: 10px;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}